<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_checkers-game._tcp</string>
		<string>_checkers-game._udp</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Приложению требуется доступ к локальной сети для поиска других игроков</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Приложению требуется Bluetooth для поиска других игроков поблизости</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Приложению требуется Bluetooth для поиска других игроков поблизости</string>
</dict>
</plist>
